.archive {
    &-filter {
        display: flex;
        flex-wrap: wrap;

        &:not(:first-child) {
            margin-top: 15px;
        }

        &-label {
            font-size: 1rem;
            margin-bottom: 10px;
            width: 100%;
        }

        &-button {
            --color: #{$body};
            border: 1px solid;
            border-radius: 4px;
            color: var(--color);
            font-size: 0.875rem;
            line-height: 1.7em;
            text-align: center;
            padding: 4px 8px;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: color $t, background-color $t;

            &.is-active, &:hover {
                background-color: var(--color);
                color: #fff;
            }
        }
    }
}