.article {
    background-color: #fff;

    @include breakpoint(large) {
        display: flex;
    }

    &-section {
        flex: 1;
        
        > h1 {
            font-size: 2.75rem;
        }
        > h2 {
            font-size: 1.75rem;
        }
        > p {
            &:not(:last-child) {
                margin-bottom: 1.5em;
            }

            > a {
                color: #bb0000;
            }
        }
        ul {
            padding-left: 40px;
            margin-bottom: 1.5em;

            > li {
                list-style: disc;
            }
        }
        ol {
            margin-top: 0;
            margin-bottom: 1.5em;
        }

        /* Gutenberg blocks */
        > .wp-block {       
            /* Image block */   
            &-image {
                width: 100vw;
                max-width: 100vw;
                margin: 0;
                margin-left: calc(-1 * #{$containerX});
                margin-bottom: 1.5em;
                @include breakpoint(medium) {
                    width: 100%;
                    max-width: 100%;
                    margin-left: 0;
                }
                img {
                    @include breakpoint(medium) {
                        margin: auto;
                    }
                }
            }
            /* Quote block */
            &-quote {
                border-left: solid 4px black;
                padding-left: 15px;
                margin-top: 0;
                margin-left: 0;
                margin-bottom: 1.5em;

                cite {
                    display: block;
                    color: #6c7781;
                    font-size: 13px;
                    font-style: normal;
                    margin-top: 1em;
                }
            }
            /* Media text block */
            &-text {
                height: 200px;
                margin-bottom: 1rem;

                &__media {
                    height: 100%;

                    image {
                        object-fit: contain;
                    }
                }
            }
            /* Media text block */
            &-seperator {
                width: 10%;
                margin: auto;
                margin-bottom: 1rem;
            }
        }
    }
}

.bio-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 50px;
    margin-top: 50px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ddd;
        content: "";
        width: 100%;
        height: 1px;
    }

    &-heading {
        font-size: 2rem;
        text-align: center;
        margin: 0;

        @include breakpoint(large) {
            text-align: inherit;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 30px;

        @include breakpoint(tablet) {
            flex-direction: row-reverse;
            text-align: inherit;
        }

        &-image {
            object-fit: contain;
            
            @include breakpoint(tablet) {
                margin-left: auto;
            }
        }

        &-text {
            margin-top: 30px;

            @include breakpoint(tablet) {
                margin-top: 0;
                margin-right: 30px;
                max-width: 80%;
            }
        }
    }

    &-contact {
        display: block;
        margin-top: 20px;
    
        @include breakpoint(tablet) {
            display: flex;
            align-items: center;
        }

        &-icon {
            font-size: 2.25rem;
            margin-bottom: 5px;

            @include breakpoint(tablet) {
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
    }

}

.sidebar {
    text-align: center;
    margin-top: 50px;

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include breakpoint(large) {
            position: sticky;
            top: $navbar-height + 30px;
            align-items: center;
        }
    }

    @include breakpoint(large) {
        margin-top: 0;
        margin-left: 80px;
    }

    .subscribe-btn {
        background-color: $black;
        border: none;
        box-shadow: none;
        color: white;
        width: 100%;
        max-width: 225px;
        transition: background-color $t, color $t;

        &:hover {
            background-color: #fff;
            color: $body;
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

        &-text {
            font-size: 15px;
            text-align: center;
            margin-bottom: 15px;
        }

        &-inner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 8px;

            .social-link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 36px;
                width: 36px;
                color: white;
                background-color: $black;
                border-radius: 12px;
                font-size: 1rem;
                transition: background-color $t, text-shadow $t;

                &:hover {
                    background-color: #fff;
                    text-shadow: 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;

                }
            }

        }
    }
    
    &-chatrooms {
        margin-top: 30px;

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color);
            font-size: 0.9375rem;

            &:not(:first-child) {
                margin-top: 5px;
            }

            .fab {
                font-size: 1.5rem;
                margin-right: 10px;
            }
        }
    }
}

.article-share-list {
    // display: flex;
    background-color: #fff;
    color: #fff;
    // margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;

    @include breakpoint(medium) {
        display: flex;
    }
    @include breakpoint(large) {
        display: block;
    }

    li {
        flex: 1;
        // transition: flex 0.4s;

        &:not(:first-child) {
            // margin-left: 5px;        
            margin-top: 10px;

            @include breakpoint(medium) {
                margin-top: 0;
                margin-left: 10px;
            }
            @include breakpoint(large) {
                margin-top: 10px;
                margin-left: 0;
            }
        }

        // &:hover {
        //     flex: 1.33;
        // }
    }

    &-facebook {
        --shareBgColor: #3b5998;
    }
    
    &-twitter {
        --shareBgColor: #55acee;
    }
    
    &-linkedin {
        --shareBgColor: #007bb5;
    }

    &-btn {
        @extend .btn;
        display: flex;
        justify-content: center;
        background-color: var(--shareBgColor);
        border: none;
        font-weight: normal;
        // padding: 5px;
        // width: 100%;
        transition: transform $t;

        &:hover {
            background-color: var(--shareBgColor);
            transform: scale(1.05);
        }
    }

    .icon-overflow {
        // @include breakpoint(large) {
            display: flex;
            width: 90px;
            height: 23px;
            overflow: hidden;
            transition: width 0.4s;
        // }
    }

    .icon-container {
        // @include breakpoint(large) {
            display: flex;
            align-items: center;
        // }

        span {
            display: none;
            line-height: normal;

            // @include breakpoint(large) {
                display: inline;
                margin-left: 10px;                        
            // }
        }

        .fab {
            width: 20px;
        }
    }
}