.btn {
    display: inline-block;
    border: 2px solid $body;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba($body, 0.25);
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    @include padding-y(8px);
    min-width: 180px;
    transition: background-color $t, color $t;

    &:hover {
        background-color: $body;
        color: #fff;
    }
}