.footer {
    font-size: 0.875rem;

    &-top {
        @include padding-y(30px);

        @include breakpoint(tablet) {
            display: flex;
            align-items: flex-end;
        }

        &-text {
            @include breakpoint(tablet) {
                width: 50%;
            }
        }

        &-social {
            font-size: 1.125rem;
            margin-top: 15px;

            @include breakpoint(tablet) {
                font-size: 1.5rem;
                margin-left: auto;
            }

            &-link {
                padding: 5px;
                transition: color $t, text-shadow $t;

                &:hover {
                    color: #fff;
                    text-shadow: 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
                }
            }
        }
    }

    &-bottom {
        &-inner {
            position: relative;
            @include padding-y(30px);

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $body;
                content: "";
                width: 100%;
                height: 2px;
            }
        }
    }
}