.header {
    $y: 30px;
    $blur: 30px;
    $spread: -30px;
    $color: rgba(#000, 0.25);

    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px $y $blur $spread $color inset, 0px -1*$y $blur $spread $color inset;
    @include padding-y(90px);

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &-pattern {
            background-image: url(../image/header-background.png);
            background-size: cover;
        }

        &-image {
            object-fit: cover;
        }

        &-sheen {
            background-color: rgba(#fff, 0.7);
        }
    }

    &-content {
        position: relative;
        width: 100%;

        &-inner {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 15px;
            width: 100%;
            max-width: 450px;
            min-height: 180px;

            @include breakpoint(medium) {
                @include padding-x(30px);
            }
        }

        &-category {
            font-size: 0.875rem;
            opacity: 0.5;
            margin-bottom: 10px;
        }

        &-description {
            font-size: 1rem;
            margin-top: 30px;
        }

        &-breadcrumbs {
            font-size: 0.875rem;
            margin-top: 30px;
        }
    }
}