.home {
    &-main {
        background-attachment: fixed;
        background-size: cover;
        filter: var(--filter);
    }

    // &-background {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    // }
    
    &-section {
        position: relative;
        text-align: center;

        @media (orientation: landscape) {
            height: calc(100vh - #{$navbar-menu-height});

            @include breakpoint(large) {
                height: calc(100vh - #{$navbar-height});
            }
        }

        &-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }    
}

.hero {
    &-section {
        height: calc(100vh - #{$navbar-menu-height});

        @include breakpoint(tablet) {
            height: calc(100vh - #{$navbar-height});
        }
    }

    &-image {
        @media (orientation: landscape) {
            flex: 1;
            position: relative;
            width: 100%;
        }

        img {
            @media (orientation: landscape) {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

    &-text {
        @extend h2;
        font-size: 1.75rem;
        font-weight: 400;

        @include breakpoint(large) {
            font-size: 2.25rem;
        }
    }
}

.category {
    &-container {
        .left & {
            @include breakpoint(medium) {
                flex-direction: row;
            }
        }
        .right & {
            @include breakpoint(medium) {
                flex-direction: row-reverse;
            }
        }
    }

    &-content {
        @include breakpoint(medium) {
            flex: 1;
        }

        .left & {
            @include breakpoint(medium) {
                margin-right: 30px;
            }
        }
        .right & {
            @include breakpoint(medium) {
                margin-left: 30px;
            }
        }
    }

    &-heading {
        font-weight: 400;
    }

    &-link {
        margin-top: 30px;
    }

    &-image {
        margin-top: 30px;

        @include breakpoint(medium) {
            flex: 1;
            display: flex;
            justify-content: center;
            margin-top: 0;
            height: 100%;
        }

        img {
            object-fit: contain;
        }
    }
}