body {
    background-color: $background;
    line-height: 1.5em;
}

section {
    @include padding-y(50px);
}

p {
    line-height: 1.5em;
}

.container {
    @include padding-x($containerX);
    @include margin-x(auto);
    max-width: 1366px;

    @include breakpoint(tablet) {
        @include padding-x(50px);
    }
    @include breakpoint(xlarge) {
        @include padding-x(75px);
    }


    &.full {
        max-width: none;
    }
}

.text {
    p, ul {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    ul {
        padding-left: 20px;

        > li {
            list-style-type: disc;
        }
    }
}