@mixin breakpoint($size) {   
    @if $size == medium {
        @media (min-width: 568px) { @content; }
    }
    @else if $size == tablet {
        @media (min-width: 568px) and (min-height: 568px) { @content; }
    }
    @else if $size == large {
        @media (min-width: 1024px) { @content; }
    }
    @else if $size == xlarge {
        @media (min-width: 1200px) { @content; }
    }
    @else if $size == xxlarge {
        @media (min-width: 1440px) { @content; }
    }
    @else {
        @warn "Breakpoint size is invalid.";
    }
}

@mixin padding-x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin padding-y($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin margin-x($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

@mixin margin-y($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}