body {
    margin-top: $navbar-menu-height;

    @include breakpoint(tablet) {
        margin-top: $navbar-height;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-menu-height;
    z-index: 1000;

    @include breakpoint(tablet) {
        height: auto;
    }

    &-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: $background;
        opacity: 0;
        overflow: auto;
        pointer-events: none;
        padding: 30px;
        width: 100%;
        height: calc(100vh - 100%);
        transition: opacity $t;
        z-index: 999;

        @include breakpoint(tablet) {
            position: fixed;
            top: 0;
            display: block;
            opacity: 1;
            pointer-events: all;
            padding: 0;
            height: auto;
        }

        &.is-open {
            opacity: 1;
            pointer-events: all;
        }

        &-list {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include breakpoint(tablet) {
                flex-direction: row;
                border: none;
            }

            > .menu-item {
                position: relative;
                text-align: center;
                width: 100%;

                @include breakpoint(tablet) {
                    @for $i from 1 through 5 {
                        &:nth-child(#{$i}) {
                            > a {
                                background-color: darken(#fff, 7.5% * ($i - 1));
                            }
                        }
                    }

                    &:hover {
                        > a {
                            background-color: $black;
                            color: #fff;
                        }
                    }
                }

                > a {
                    font-family: $body-font;
                    font-size: 1.125rem;
                    // font-weight: 700;
                    @include padding-y(20px);
                    transition: background-color $t, color $t;

                    @include breakpoint(tablet) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        height: $navbar-menu-height;
                    }

                    .icon {
                        margin-right: 10px;
                    }
                }

                &.active {
                    > a {
                        background-color: $black;
                        color: #fff;
                    }
                }
            }
        }

        > .search-bar {
            display: block;
            margin-top: 30px;

            @include breakpoint(tablet) {
                display: none;
            }
        }
    }

    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../image/navbar-background.png);
        background-size: cover;
        box-shadow: 0 0 15px rgba(#000, 0.75);
        @include padding-x(30px);
        height: 100%;
        z-index: 998;

        @include breakpoint(tablet) {
            position: fixed;
            top: $navbar-menu-height;
            left: 0;
            width: 100%;
            height: $navbar-main-height;
        }

        > .search-bar {
            @include breakpoint(tablet) {
                flex: 1;
                display: block;
                margin-left: 30px;
                max-width: 530px;
            }
        }

        .hamburger {
            @include breakpoint(tablet) {
                display: none;
            }
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        // Add orientation: landscape to mixins that way we 
        //  should be able to use && on existing include
        @media (orientation: landscape) {
            width: auto;
        }
        @include breakpoint(tablet) {
            width: auto;
        }

        &-text {
            font-family: $heading-font;
            font-size: 1.75rem;
            font-weight: 700;
            margin: auto;

            @media (orientation: landscape) {
                margin: 0;
                margin-left: 10px;
            }
            @include breakpoint(tablet) {
                font-size: 2.0rem;
                margin: 0;
                margin-left: 10px;
            }
        }
    }
}