.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000, 0.2);
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    text-align: center;
    padding: 30px;
    padding-top: calc(30px + #{$navbar-menu-height});
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: opacity $t;

    @include breakpoint(tablet) {
        padding-top: calc(30px + #{$navbar-height});
    }

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    &-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(60deg, #fff, $background);
        border: 1px solid;
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 600px;
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
    }

    form {
        width: 275px;
    }

    input {
        &[type=text], &[type=email] {
            outline: none;
            border: none;
            border-bottom: 1px solid;
            background: none;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .mc4wp-response {
        &:not(:only-child) {
            margin-top: 15px;   
        }
    }
}