.post {
    &-archive {
        background-color: #fff;
    }

    &-grid {
        --columns: 1;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(var(--columns), 1fr);
        margin-top: 30px;

        @include breakpoint(medium) {
            --columns: 2;
        }
        @include breakpoint(large) {
            --columns: 3;
        }
        @include breakpoint(xlarge) {
            --columns: 4;
        }
    }

    &-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 30px -5px rgba(#000, 0.2);
        border-radius: 30px;
        overflow: hidden;
        height: 410px;
        transition: box-shadow $t, transform $t;

        &.resources {
            background-color: $black;
            color: #fff;
        }

        &:hover {
            box-shadow: 0 10px 30px -5px rgba(#000, 0.3);
            transform: scale(1.02);
        }

        &-top {
            position: relative;
            background-color: $lightgrey;
            padding: 15px;
            height: 220px;

            .post-card.placeholder & {
                padding: 0;
            }
            .post-card.resources & {
                display: none;
            }

            &-image {
                object-fit: contain;
                width: 100%;
                height: 100%;

                .post-card.placeholder & {
                    object-fit: cover;
                }
            }

            &-play {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                align-items: center;
                justify-content: center;
                background-color: rgba(#fff, 0.75);
                width: 100%;
                height: 100%;

                .post-card.videos & {
                    display: flex;
                }

                &-icon {
                    border: 2px solid #000;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    padding: 30px;
                }
            }
        }

        &-bottom {
            flex: 1;
            font-size: 1rem;
            padding: 40px 30px;
        }

        &-legend {
            font-size: 0.8125rem;
            margin-bottom: 15px;
        }
        &-title {
            font-size: 1.25rem;
            font-weight: 700;

            .post-card:not(.resources) & {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-height: 1.25em;
                height: 3.75em;
                overflow: hidden;
            }
        }
        &-description {
            margin-top: 30px;
        }
    }
}