* {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    // overflow-x: hidden;
}

body {
    margin: 0;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

ul>li a {
    display: block;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input, textarea, select, button {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
}

[type=text], [type=search], textarea {
    padding: 8px 12px;
}

textarea {
    resize: vertical;
}

[type=button], [type=submit], button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

label {
    cursor: pointer;
}

.hamburger {
    display: flex;
    align-items: center;
}

/* iOS */
input, textarea {
    border-radius: 0;
    margin: 0;
}

input[type=submit] {
    -webkit-appearance: none;
}
/* End iOS */