.search {
    &-bar {
        position: relative;
        display: none;
        background-color: #fff;
        border-radius: 4px;
    }

    &-input {
        border: none;
        background: none;
        width: 100%;
        height: 50px;
    }
    &-button {
        position: absolute;
        top: 50%;
        right: 0;
        background-color: inherit;
        border-radius: inherit;
        transform: translate(0, -50%);
        padding: 10px;
    }
}