body {
    color: $body;
    font-family: $body-font;

    @include breakpoint(large) {
        font-size: 1.125rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: 700;
    line-height: 1em;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 40px;

    @include breakpoint(large) {
        font-size: 2.75rem;
    }
}