// colours
$black: #333;
$blue: #213357;
$lightgrey: #FAFAFA;

$body: $black;
$background: #F3EBE4;

// fonts
$body-font: 'Open Sans', serif;
$heading-font: 'Architects Daughter', sans-serif;

// navbar
$navbar-menu-height: 50px;
$navbar-main-height: 70px;
$navbar-height: $navbar-menu-height + $navbar-main-height;

// hamburger
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;

// transition time
$t: 0.3s;

// container padding
$containerX: 30px;

:root {
    --navbarMenuHeight: #{$navbar-menu-height};
    --navbarMainHeight: #{$navbar-main-height};
}